extends layout

block content
  h1= title
  h2 Control screens
  p Calib Control enables you to control some aspects of the tiled display screens. Open the #[a(href='/control') Control interface].
  h2 API
  p For use with calibration and other software, a rest-like JSON API is provide. Make your calls to '/api'.
  h2 Display screens
  p The url to display screens has slightly changed from '/screen/id' to '/html/screen/id'.
